
.factorial-calculator{

    width: 200px;
    margin:100px auto;
    border: 5px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

}
.display {
    margin-bottom: 20px;
    font-size: 18px;
}

button{
    margin: auto;
    color: yellow;
    background-color: Red;
    font-size: 18px;
    cursor: pointer;

}

button:over{
    background-color: green;
}